build/
release/
*.suo
*.user
bin
Bin
obj
_ReSharper*
*.csproj.user
*.resharper.user
*.suo
*.cache
TestResult.xml
Giant.Server.Web/Web.config
Giant.Server.Web/ClientBin/*
log.txt*
TemporaryUploadedFiles
Debug/
Release/